body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  background: #ffffff;
}
body, button, input, select, textarea {
  font-family: sans-serif; color: #222;
}

a { color: black; }
a:visited { color: black; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

#container {
  border:5px solid #6e9ece;
  border-radius:16px;
  margin:auto;
  overflow:hidden;
  margin-top:50px;
  width:1190px;
}

#header {
  background:#ffffff;
  height:40px;
  text-align:center;
  font:16px Arial;
  /*color:#b2c5ce;*/
  font-style:italic;
  line-height:40px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  position:relative;
}

#header img.logo {
  position:absolute;
  left:5px;
  top:5px;
}

#header img.logo-right {
  position:absolute;
  right:5px;
  top:5px;
}

#menu {
  height: 50px;
  background: #6e9ece;
  padding-left:175px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

#menu-rightpadding {
  height: 50px;
  background: #6e9ece;
  padding-right:175px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

#content {
  padding:25px 0 25px 35px;
  text-align:left;
}

#content.mtgrules {
  background:url("/mtgrules/background.jpg") right top no-repeat;
}

#content.mtgjudge {
  background:url("/mtgjudge/background.jpg") right top no-repeat;
}

#buttons {
  display:inline-block;
  vertical-align:bottom;
  margin-left: 15px;
}

.mobile-links {
  display: none;
}

#content a {
  display: block;
  margin-top: 10px;
  max-width: 140px;
  text-align:center;
  padding: 5px 10px;
  border: 2px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Arial","Verdana",sans-serif;
  font-weight: bold;
  color: #9f9f9f;
  text-decoration: none;
  box-shadow: 0 0 8px rgba(0,0,0,0.75);
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
}

#chatframe {
  border-radius:13px;
  border:2px solid #6e9ece;
  width:950px;
  height:635px;
  box-shadow:0 0 5px #000000;
  vertical-align: middle;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px;
}

#footer p {
  font-size: 80%;
}

@media only screen and (max-width: 767px) {
  #container {
    width: calc(100% - 10px); /* Width + Borders (5px each side) = 100% */
    height: calc(100vh - 55px - 10px); /* Height + Borders (5px each side) + MagicJudges Menu (55px) = 100%) */
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  #header {
    height: auto;
    font: 14px Arial;
    padding: 7px 0;
    line-height: normal;
    flex: 0 1 auto;
  }

  #header img.logo {
    display: none;
  }

  #header img.logo-right {
    display: none;
  }

  #menu {
    height: auto;
    padding: 7px 5%;
    font-size: 14px;
    line-height: normal;
    flex: 0 1 auto;
  }

  #menu-rightpadding {
    min-height: 40px;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
    line-height: 40px;
  }

  #content {
    padding: 2%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  #chatframe {
    border-radius: 0;
    width: calc(100% - 4px); /* Width + Borders (2px each side) = 100% */
    height: 90%;
    flex: 1 0 auto;
  }

  #buttons {
    margin-left: 0;
    flex: 0 1 auto;
    display: none;
    flex-wrap: nowrap;
  }

  .mobile-links {
    display: initial;
  }

  #content a {
    flex: 1 1 auto;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px 3px;
    font-size: 12px;
  }

  #footer {
    width: auto;
  }
}

@media only screen and (max-width: 480px) and (max-height: 400px) {
  /* Hide everything that isn't the chat window and like one other thing. */
  #judge-global-banner {
    display: none;
  }

  #header {
    display: none;
  }

  .mobile-links {
    display: none;
  }

  #footer {
    display: none;
  }
}

